/*pagination style*/
.uyari-sayfasi{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: 999;
  background-color: white;
}
.uyari-kutusu{
  width: 600px;
  height: auto;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 20px;
  border:1px solid black;
  text-align: center;
}
.btn-selected{
  border:1px solid gray !important;
  border-radius:20px;
}
@media only screen and (max-width: 600px) {
  .uyari-sayfasi, .uyari-kutusu{
    width: 100%;
  }
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #619a4e !important;
    border-color: #619a4e !important;
}
.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #619a4e;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.page-link:hover {
    z-index: 2;
    color: #619a4e;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

/*/ cookie policy*/
#cookie_policy{
    height: -webkit-fill-available;
  position: fixed;
  bottom : 50px;
  right : 25px;
  z-index:1;
}

/* Preloader */
#preloader {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#fff; /* sayfa yüklenirken gösterilen arkaplan rengimiz */
  z-index:99; /* efektin arkada kalmadığından emin oluyoruz */
}

#status {
  width:150px;
  height:150px;
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  background-image:url(../img/loading.gif); /* burası yazının ilk başında bahsettiğimiz animasyonu çağırır */
  background-repeat:no-repeat;
  background-position:center;
  background-size: contain;
}

.middle{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.vitrin-img-1{
    background-image: url("img/1.jpg");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.vitrin-img-2{
    background-image: url("img/3.jpg");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.vitrin-img-3{
    background-image: url("img/4.jpg");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.vitrin-img-4{
    background-image: url("img/5.jpg");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.vitrin-img-5{
    background-image: url("img/6.jpg");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.top-menu {
    background-color: #2C2C2C;
    border-bottom: 5px solid #619a4e;
    padding: 2px 0px 5px 0px;
}
#search_text{
  border:0;
  outline: none;
}
#search_results
{
    position: absolute;
    z-index: 4;
    width: 100%;
    top:100%;
}
.search-res-item{
    padding: 8px;
    border-bottom: 1px solid #b5b5b5;
    border-right: 1px solid #b5b5b5;
    border-left: 1px solid #b5b5b5;

}
.search-res-item:hover{
    background-color: #f2f2f2;
}

.search-res-item a{
    color: #2c2c2c;
    text-decoration: none;
}
.search-res-item a:hover{
    font-weight: 600;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}
.top-menu span ,.top-menu span a{

    color: #f2f2f2 !important;
    font-size: 12px !important;
}

.header {
    background-color: #f2f2f2;
    padding-top: 10px;
    padding-bottom: 10px;
}

#message-div{
  width:600px;
  height: 80px;
  position: fixed;
  top : 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 999;
  display: none;
}
#message{
  width: 100%;
  height: 100%;
  border-radius: 0;
  padding-top: 25px;
  font-size: 12pt;
  border-width: 3px;
  border-style: solid;
  border-color: #0c5460;
}

#loading-div{
    width:100%;
    height: 100%;
    background-color: #ff9b4194;
    position: fixed;
    top : 0;
    left: 0;
    z-index: 999;
    display: none;
}
#loading-div img{
    max-width:125px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}


.p-card{
    height: 350px !important;
}


/* product style */

.product-card-body {
    padding: 0px!important;
}

.product-card {
  padding: 0 !important;
    /* margin-right: 1.6%;
    margin-top: 8px;
    width: 14%;*/
    /*display: inline-block!important;*/
}
.card-body a:hover {
    text-decoration: none;
}

/*
.product-card img {
    padding-left: 8px;
    padding-right: 8px;
    height: 170px !important;
}*/

.product-card-body>p {
    margin-bottom: 0px;
}

.product-card>a:hover {
    text-decoration: none;
}

.price {
    font-weight: 600!important;
    color: #636363;
    text-align: center;
}

.disable-price {
    text-decoration: line-through!important;
    font-weight: 600!important;
    color: #939393;
    text-align: center;
}

.product-title {
    font-weight: 600!important;
    color: #636363;
    font-size: 15px;
}

.category-title {
    font-weight: bolder;
    color: #636363;
    font-size: 20px;
    margin-top: 30px;
}


/* product style */


/*
*
*
*
*/
.p-card-img-div{
    padding: 0;
    height: auto !important;
    width: 100% !important;
}
.p-card-img{
    padding: 0px;
    width: 100%;
    position: relative;
    left:50%;
    transform: translate(-50%, 0);

}
/*footer*/

.footer-top i,
.footer-top p {
    color: #fff;
    font-weight: bold;
}

.footer-top {
    background-color: #619a4e !important;
}


footer .footer-title {
    color: #619a4e !important;
}

.page-footer {
    background-color: #F9F9F9!important;
}

.page-footer .list-unstyled a {
    color: #000;
    text-decoration: none;
}


/*footer*/


/*btn-warning*/

.btn-warning {
    color: #fff;
    background-color: #619a4e;
    border-color: #619a4e;
}

.btn-warning:hover {
    color: #fff;
    background-color: #619a4e;
    border-color: #619a4e;
}

.btn-warning:focus,
.btn-warning.focus {
    color: #fff;
    background-color: #619a4e;
    border-color: #619a4e;
    box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}

.btn-warning.disabled,
.btn-warning:disabled {
    color: #212529;
    background-color: #619a4e;
    border-color: #619a4e;
}

.btn-warning:not(:disabled):not(.disabled):active,
.btn-warning:not(:disabled):not(.disabled).active,
.show>.btn-warning.dropdown-toggle {
    color: #212529;
    background-color: #619a4e;
    border-color: #619a4e;
}

.btn-outline-warning {
    color: #619a4e;
    border-color: #619a4e;
}

.btn-outline-warning:hover {
    color: #fff;
    background-color: #619a4e;
    border-color: #619a4e;
}

.btn-outline-warning:focus,
.btn-outline-warning.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-outline-warning.disabled,
.btn-outline-warning:disabled {
    color: #619a4e;
    background-color: transparent;
}

.btn-outline-warning:not(:disabled):not(.disabled):active,
.btn-outline-warning:not(:disabled):not(.disabled).active,
.show>.btn-outline-warning.dropdown-toggle {
    color: #212529;
    background-color: #619a4e;
    border-color: #619a4e;
}

.btn-outline-warning:not(:disabled):not(.disabled):active:focus,
.btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-warning.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}


/*btn-warning*/


/*badge-warning*/

.badge-warning {
    color: #fff;
    background-color: #619a4e;
}

a.badge-warning:hover,
a.badge-warning:focus {
    color: #fff;
    background-color: #619a4e;
}

a.badge-warning:focus,
a.badge-warning.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.badge-warning {
    color: #fff;
    background-color: #619a4e;
}

a.badge-warning:hover,
a.badge-warning:focus {
    color: #fff;
    background-color: #619a4e;
}

a.badge-warning:focus,
a.badge-warning.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}


/*badge-warning*/


/*border-warning*/

.border-warning {
    border-color: #619a4e !important;
}

.checked-star {
    color: #619a4e;
}
/*/border-warning*/

.product .card,.product .card-body{
    height: 100% !important;
}




/*mobil uyum*/
@media only screen and (max-width: 600px) {

    .top-menu-content{
        text-align: center !important;
    }
    .logo-div{
        text-align: center !important;
        margin-bottom: 8px;
    }
    .search-bar{
        margin-bottom: 8px;
    }
    .header-buttons{
        text-align: center !important;
        display: block !important;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .product-head .card-body{
        padding: 20px !important;
    }
}
/*/mobil uyum*/
