/*
  Theme Name: Vue - Clean Minimal eCommerce HTML Template
  Author: basictheme
  Support: basictheme400@gmail.com
  Description: Clean, Minimal eCommerce HTML Template
  Version: 1.0
*/

/* CSS Index
-----------------------------------
1. Theme default css
2. Header
3. Slider
4. Banner
5. Features
6. Product
7. Area title
8. Upcoming Product
9. Subscribe
10. Footer
11. Instagram
12. Breadcrumb
13. Shop
14. Shop Details
15. Login
16. Cart
17. Checkout
18. Contact
19. About
20. Team
21. Blog
*/



/* 1. Theme default css */
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');
 body {
	font-family: 'Rubik', sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 14px;
}
.img,img {
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
}
.f-left {
	float: left
}
.f-right {
	float: right
}
.fix {
	overflow: hidden
}
a,
.button {
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
a:focus,
.button:focus {
	text-decoration: none;
	outline: none;
}
a:focus,
a:hover {
	color: #10111e;
	text-decoration: none;
}
a,
button {
	color: #10111e;
	outline: medium none;
	transition: .3s;
}
button{
	cursor: pointer;
}
button:focus,input:focus,input:focus,textarea,textarea:focus{outline: 0}
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Rubik', sans-serif;
	font-weight: normal;
	color: #10111e;
	margin-top: 0px;
	font-style: normal;
	font-weight: 500;
	text-transform: normal;
	line-height: 1.1;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}
h1 {
	font-size: 40px;
	font-weight: 500;
}
h2 {
	font-size: 35px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}
p {
	font-size: 14px;
	font-weight: normal;
	line-height: 26px;
	color: #7e7e7e;
	margin-bottom: 15px;
}
hr {
	border-bottom: 1px solid #eceff8;
	border-top: 0 none;
	margin: 30px 0;
	padding: 0;
}
label {
	color: #7e7e7e;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
}
*::-moz-selection {
	background: #d6b161;
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
*::-moz-placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
*::placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
.theme-overlay {
	position: relative
}
.theme-overlay::before {
	background: #1696e7 none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.6;
	position: absolute;
	top: 0;
	width: 100%;
}
.separator {
	border-top: 1px solid #f2f2f2
}
/* button style */

.btn {
	background: transparent;
	border: 0;
	border-radius: 0;
	color: #525470;
	display: inline-block;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 2px;
	line-height: 1;
	margin-bottom: 0;
	padding: 22px 50px;
	text-align: center;
	text-transform: uppercase;
	touch-action: manipulation;
	transition: all 0.3s ease 0s;
	vertical-align: middle;
	white-space: nowrap;
}
.theme-btn{
	background: #fe906e;
	color: #fff;
}
.theme-btn:hover{
	background: #84b77c;
	color: #fff;
}
.theme-btn-2{
	background: #84b77c;
	color: #fff;
}
.theme-btn-2:hover{
	background: #fe906e;
	color: #fff;
}
.white-btn{
	background: #fff;
}
.white-btn:hover{
	background: #84b77c;
	color: #fff;
}
.breadcrumb > .active {
	color: #888;
}
.owl-carousel .owl-nav div {
	background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
	height: 40px;
	left: 20px;
	line-height: 40px;
	opacity: 0;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.3s ease 0s;
	visibility: hidden;
	width: 40px;
}
.owl-carousel .owl-nav div.owl-next {
	left: auto;
	right: 20px;
}
.owl-carousel:hover .owl-nav div {
	opacity: 1;
	visibility: visible;
}
.owl-carousel .owl-nav div:hover {
	background: #2B96CC;
	color: #fff
}

/* scrollUp */
#scrollUp {
	position: absolute;
	bottom: 50px;
	right: 29px;
	background: #FFD4B2;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	text-align: center;
	line-height: 60px;
	color: #ffffff;
	font-size: 18px;
}
#scrollUp:hover {
	background: #fe906e;
}


/* 2. Header */
.basic-bar {
	height: 60px;
	width: 60px;
	background: #fe906e;
	border-radius: 50%;
	margin-right: 50px;
	padding: 14px 0;
	cursor: pointer;
}
.basic-bar span {
	height: 2px;
	width: 15px;
	display: block;
	background: #fff;
	margin: auto;
	margin-top: 6px;
	margin-bottom: 6px;
	transition: .3s;
}
.basic-bar:hover span{width: 30px;}
.basic-bar span.bar1{}
.basic-bar span.bar2{width: 30px;}
.basic-bar span.bar3{}
.transparent-header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
}
.header-info span {
	position: relative;
	margin-right: 29px;
	font-size: 14px;
	color: #666;
}
.header-info span::before {
	background: #ddd;
	content: "";
	height: 21px;
	position: absolute;
	right: -18px;
	top: 0px;
	width: 1px;
}
.header-info span:last-child:before{display: none;}

.header-right-member{}
.header-right-member ul {}
.header-right-member ul li {
	display: inline-block;
	margin-left: 25px;
	position: relative;
	padding: 12px 0px;
}
.header-right-member ul li a {
	font-size: 14px;
	color: #666;
}
.header-right-member ul li:hover > a {
	color: #fe906e;
}
.header-right-member ul li ul {
	position: absolute;
	top: 100%;
	left: 0;
	background: #444;
	width: 110px;
	text-align: left;
	padding: 10px;
	transition: .3s;
	visibility: hidden;
	opacity: 0;
	z-index: 9;
}
.header-right-member ul li:hover ul{visibility: visible; opacity: 1;}
.header-right-member ul li ul li {
	margin: 0;
	display: block;
	padding: 3px 0;
}
.header-right-member ul li ul li a {
	color: #fff;
	font-size: 12px;
}
/* main-menu */
.main-menu ul li {
  display: inline-block;
  margin: 0 25px;
  line-height: 1;
  position: relative;
}
.main-menu ul li a {
	color: #10111e;
	font-size: 13px;
	line-height: 1;
	font-weight: 500;
	padding: 60px 0;
	display: inline-block;
	text-transform: uppercase;
}
.main-menu ul li:hover > a {
	color: #fe906e;
}
.main-menu ul li ul.submenu {
	position: absolute;
	top: 100%;
	left: 0;
	background: #fff;
	width: 250px;
	transition: .3s;
	opacity: 0;
	visibility: hidden;
	z-index: 9;
	text-align: left;
	box-shadow: 0px 12px 24px 0px rgba(254, 69, 54, 0.3);
}
.main-menu ul li ul.submenu li {
	margin: 0;
	display: block;
	border-bottom: 1px solid #b0c6c64d;
}
.main-menu ul li ul.submenu li:last-child{border: 0}
.main-menu ul li ul.submenu li a {
	padding: 16px 20px;
	color: #10111e;
	font-size: 12px;
	display: block;
}
.main-menu ul li ul.submenu li:hover > a {
	color: #fe906e;
}
.main-menu ul li:hover > ul.submenu{opacity: 1;visibility: visible}
.main-menu ul li ul.submenu li ul.submenu {
	left: 100%;
	top: 0;
	opacity: 0;
	visibility: hidden;
}
.main-menu ul li ul.submenu li:hover > ul.submenu {
	opacity: 1;
	visibility: visible;
}
.main-menu.menu-white ul li:last-child{margin: 0}

/* mega-menu */
.main-menu ul li.mega-menu > ul.submenu {
	min-width: 800px;
	opacity: 0;
	visibility:hidden;
	padding: 35px;
	z-index: 0;
}
.main-menu ul li.mega-menu:hover ul.submenu {
	visibility:visible;
	opacity: 1;
	z-index: 11;
}
.main-menu ul li.mega-menu ul.submenu li ul.submenu {
	position: static;
	display: block;
	border: none;
	margin-top: 20px;
	opacity: 0;
	visibility: hidden;
	width: auto;
	box-shadow: none;
}
.main-menu ul li.mega-menu:hover ul.submenu li ul.submenu{
	visibility:visible;
	opacity: 1;
	z-index: 11;
}
.main-menu ul li.mega-menu ul.submenu li ul.submenu li a {
	font-size: 13px;
	text-transform: capitalize;
	font-weight: 400;
	padding: 13px 0;
}
.main-menu ul li.mega-menu ul.submenu li ul.submenu li:last-child a {
	padding-bottom: 0;
}
.main-menu ul li.mega-menu ul.submenu li ul.submenu li:last-child {
	border-bottom: 0;
}
.main-menu ul li.mega-menu ul.submenu > li {
	border: 0;
}
.main-menu ul li.mega-menu > ul.submenu > li {
	width: 33.3333%;
	min-width: 33.3333%;
	display: block;
	float: left;
	padding-right: 30px;
}
.main-menu ul li.mega-menu > ul.submenu > li:last-child {
	padding-right: 0px;
}
.main-menu ul li.mega-menu > ul.submenu  ul.submenu{
	margin-top: 20px;
}
.main-menu ul li.mega-menu > ul.submenu li a {
	display: block;
	padding-left: 0;
}
.main-menu ul li.mega-menu > ul.submenu > li > a {
	font-size: 12px;
	line-height: inherit;
	font-weight: 600;
	color: #10111e;
	padding: 0;
	text-transform: uppercase;
}

#header-sticky {
	transition: .3s;
}
.logo {
	transition: .3s;
}
.header-right {
	transition: .3s;
}

.sticky-header {
	animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
	background: #fff;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
	left: 0;
	margin: 0 auto;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 99;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
.sticky-header .main-menu ul li a {
	padding: 35px 0;
}
/* header-right */
.header-right {
	position: relative;
	padding-left: 10px;
	margin-left: 10px;
}
.header-right ul li {
	display: inline-block;
	margin-left: 10px;
	line-height: 1;
	position: relative;
}
.header-right > ul > li > a {
	font-size: 16px;
	position: relative;
	height: 50px;
	width: 50px;
	background: #fff1f0;
	display: inline-block;
	line-height: 50px;
	text-align: center;
	border-radius: 50%;
	color: #fe5245;
}
.header-right ul li a:hover{
	background: #fe5245;
	color: #fff;
}
.cart-count {
	position: absolute;
	background: #fe906e;
	color: #fff;
	height: 20px;
	width: 20px;
	font-size: 10px;
	text-align: center;
	font-weight: 500;
	border-radius: 50%;
	line-height: 22px;
	left: 32px;
	top: -8px;
}
/* minicart */
.header-right ul.minicart {
	background: #fff;
	opacity: 0;
	padding: 25px;
	position: absolute;
	right: 0;
	top: 100%;
	transition: all 0.3s ease 0s;
	width: 350px;
	z-index: 9;
	box-shadow: 0px 12px 24px 0px rgba(254, 69, 54, 0.3);
	visibility: hidden;
}
.header-right li:hover ul.minicart{opacity:1;visibility:visible;z-index: 99;}
.header-right ul li .minicart .cart-img {
    float: left;
}
.header-right ul li .minicart .cart-content {
  float: left;
  padding-left: 15px;
  text-align: left;
}

.cart-content h3 {
    color: #ddd;
}
ul.minicart .cart-content a {
	color: #10111e;
	font-size: 14px;
	background: none;
}
ul.minicart .cart-content a:hover {
	color: #fe906e;
	background: none;
}
ul.minicart .cart-img img {
	width: 85px;
}
ul.minicart .cart-price span {
    color: #ddd;
    font-size: 13px;
}
ul.minicart .cart-price .new {
	font-size: 14px;
	color: #747691;
}
ul.minicart .cart-price span {
	color: #a5a7bc;
	font-size: 13px;
	font-weight: 500;
}
.header-right ul li .minicart > li {
	display: block;
	margin-bottom: 22px;
	margin-left: 0;
	overflow: hidden;
	padding: 0;
}
.header-right ul li .minicart > li:last-child{margin-bottom:0;}
.header-right ul li .minicart .del-icon > a {
	color: #fe906e;
}
.header-right ul li .minicart .del-icon > a:hover {
	color: #a5a7bc;
	background: none;
}
.header-right ul li .minicart .del-icon {
    float: right;
    margin-top: 30px;
}
.total-price span {
	color: #747691;
	font-weight: 500;
}
.total-price {
	border-top: 1px solid #cacadb;
	overflow: hidden;
	padding-top: 25px;
	margin-top: 10px;
}
.header-right ul li .minicart .checkout-link a {
	background: #84b77c;
	color: #fff;
	display: block;
	font-weight: 500;
	padding: 16px 30px;
	text-align: center;
	font-size: 13px;
	margin-bottom: 8px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.header-right ul li .minicart .checkout-link a:last-child{margin: 0;}
.header-right ul li .minicart .checkout-link a:hover,.header-right ul li .minicart .checkout-link a.red-color{background: #fe906e;}
.header-right ul li .minicart .checkout-link a.red-color:hover{background: #84b77c;}

.header-sep {
	line-height: 1;
	height: 2px;
}

/* menu white */
.menu-white ul li a {
	color: #fff;
}
.menu-white{}

/* header 3 */
/* extra info */
.extra-info {
	background: #152136;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	transition: all 0.7s ease 0s;
	width: 340px;
	z-index: 9999;
	transform: translateX(-100%);
	padding-bottom: 40px;
}
.extra-info.info-open {
  transform: translateX(0);
}
.extra-info.extra-info-left.info-open{transform: translateX(0);}
.close-icon {
	margin-top: 0;
	text-align: right;
	position: absolute;
	right: 15px;
	top: 12px;
	line-height: 1;
}
.close-icon > button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  color: #ff4a57;
  cursor: pointer;
  font-size: 20px;
  padding: 0;
}
.logo-side {
	padding: 30px 30px;
	border-bottom: 1px solid #344159;
	margin-bottom: 24px;
}
.side-info-bottom {
	padding: 0 30px;
	border-top: 1px solid #344159;
	padding-top: 30px;
}
.side-cta p {
	color: #aaabc3;
}
.side-cta h4 {
	color: #ffffff;
}
.social-icon-right a {
	color: #ffffff;
	margin-right: 15px;
}
.social-icon-right a:hover {
	color: #fe906e;
}


.side-menu ul li {
	display: block;
	margin: 0px;
	padding: 0 30px;
}
.side-menu ul li a {
	color: #fff;
	padding: 20px 0;
	display: block;
}
.side-menu ul li a i {
	float: right;
}
.side-menu ul li ul.submenu {
	top: 0;
	left: 100%;
}
.side-menu ul li ul.submenu li {
	text-align: left;
	padding: 0 0;
}

/* category-menu */
.category-menu {
	position: absolute;
	top: 150px;
	z-index: 999;
	background: #fff;
	width: 250px;
	padding: 0 30px;
	left: 15px;
	display: none;
	box-shadow: 0px 12px 24px 0px rgba(254, 69, 54, 0.3);
}
.category-menu h4 {
	margin-bottom: 20px;
	padding-top: 25px;
}
.category-menu ul {
	margin-bottom: 30px;
	border-left: 3px solid #fff1f0;
	padding-left: 20px;
	margin-bottom: 30px;
}
.category-menu ul li{}
.category-menu ul li:last-child{margin-bottom: 0px;}
.category-menu ul li a {
	display: block;
	color: #747691;
	position: relative;
	padding: 10px 0;
}
.category-menu ul li a::before {
	position: absolute;
	height: 0;
	width: 4px;
	background: #fe906e;
	left: -24px;
	top: auto;
	bottom: 0;
	content: "";
	transition: .3s;
}
.category-menu ul li a:hover:before{
	height: 100%;
	top: 0;
	bottom: auto;
}
.category-menu ul li a:hover {
	color: #fe906e;
}
.category-menu ul li a i {
	color: #fe906e;
	width: 21px;
	display: inline-block;
}


/* 3. Slider */
.slider-area {
	position: relative;
	z-index: 1;
}
.shape-title{}
.shape-title {
	position: absolute;
	top: 54px;
	z-index: -1;
	left: 220px;
}
.shape-title h2 {
	font-size: 300px;
	color: #ededed;
	font-weight: 500;
}
.shape-icon {
	position: absolute;
	bottom: 40px;
	left: 150px;
}
.slide-shape1 {
	position: absolute;
	left: 40px;
	top: -75px;
}
.slide-shape2 {
	position: absolute;
	right: -60px;
	bottom: 0;
}
.slide-height {
	min-height: 700px;
	background-size: cover;
	background-position: center center;
}
.slide-height-2{
	min-height: 950px;
}
.slide-height-4{
	background-size: cover;
}
.slide-height-5{
	min-height: 600px;
}
.slide-1-style{
	padding: 0 325px;
}
.slide-height-full{
	min-height: 960px;
	background-size: cover;
	background-position: center center;
}
.slide-content span {
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 500;
	color: #747691;
	display: block;
	margin-bottom: 20px;
}
.slide-content h1 {
	font-size: 80px;
	font-weight: 500;
	margin-bottom: 40px;
}
.slide-btn a{
	margin-right: 25px;
}
.slider-active .slick-dots {
	text-align: center;
	bottom: 30px;
	z-index: 99;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 12;
}
.slider-active .slick-dots li {
	display: inline-block;
	margin: 0 4px
}
.slider-active .slick-dots li button {
	background: no-repeat;
	border: 0;
	height: 10px;
	width: 13px;
	text-indent: -9999px;
	transition: .3s;
	padding: 0;
	border: 2px solid #cccccc;
	height: 13px;
	border-radius: 50%;
}
.slider-active .slick-dots li.slick-active button{border-color: #292929}
.slider-white .slick-dots li.slick-active button {
	border-color: #fff;
	background: #fff;
}

.slider-active button.slick-arrow {
	position: absolute;
	top: 50%;
	left: 90px;
	transform: translateY(-50%);
	background: none;
	border: 0;
	font-size: 16px;
	padding: 0;
	color: #10111e;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	cursor: pointer;
	background: #fff;
	line-height: 80px;
}
.slider-3 button.slick-arrow {
	color: #10111e;
	background: #fff1f0;
}
.slider-active button.slick-next{left: auto;right:90px;}
.slider-active:hover button.slick-prev{left: 105px;}
.slider-active:hover button.slick-next{right: 105px;}
.slider-active:hover button{
    opacity: 1;
    visibility: visible;
}
.slider-active button:hover{
    background: #fe906e;
	color: #fff;
	box-shadow: 0px 6px 12px 0px rgba(254, 69, 54, 0.4);
}
.slider-price span {
	display: inline-block;
	font-size: 40px;
	font-weight: 300;
	color: #fe906e;
	margin-right: 20px;
	margin-bottom: 0;
}
.slider-price .old-price {
	color: #b2b4ca;
	text-decoration: line-through;
}
/* slider 2 */
.slider-2 .slide-content h1 {
	margin-bottom: 14px;
}
.home-2-shape {
	color: #fff !important;
	opacity: .3;
}
.slider-2 .shape-title h2 {
	color: #e5dfda;
}
.slider-2 .shape-title h2.home-2-shape {
	color: #fff;
	opacity: .3;
}
.slider-2 .shape-title {
	top: 21%;
}
/* slider 3 */
.slide-content-3 h1 {
	font-size: 140px;
	font-weight: 500;
	margin-bottom: 40px;
	line-height: .8;
}
.shape-title-3 h2 {
	font-size: 600px;
	color: #fffbf7;
}
.shape-title-3 {
	top: -95px;
	left: 0;
	line-height: 1;
}
.shape-icon-3 {
	position: absolute;
	bottom: 40px;
	left: auto;
	right: -95px;
	top: 33%;
}
/* slider 4 */
.slide-content-4 h1 {
	font-size: 80px;
	font-size: 120px;
	color: #ffffff;
	margin-bottom: 25px;
}
.shape-title-4 {
	position: absolute;
	top: auto;
	z-index: -1;
	left: auto;
	right: 0;
	bottom: 0;
	line-height: 1;
}
.shape-title-4 h2 {
	font-size: 300px;
	color: #fff;
	opacity: .05;
	line-height: .7;
}
.shape-icon-4 {
	bottom: auto;
	left: auto;
	right: 150px;
	top: 30%;
}

/* slider 5 */
.shape-title-5 {
	left: 0;
	top: auto;
	bottom: 30px;
	z-index: 1;
}
.shape-title-5 h2 {
	color: #fffbf7;
	line-height: .5;
	opacity: .2;
}
.slide-content-5{
	position: relative;
	z-index: 9;
}
.slider-active-5 .slick-dots {
	text-align: center;
	margin-top: -40px;
	position: absolute;
	z-index: 99;
	left: 0;
	right: 0;
}
.slider-active-5 .slick-dots li {
	display: inline-block;
	margin: 0 5px;
}
.slider-active-5 .slick-dots li button {
	background: #fe906e;
	border: 0;
	height: 4px;
	width: 20px;
	text-indent: -9999px;
}
.slider-active-5 .slick-dots li.slick-active button{
	background: #fff;
}
.slider-active-5{}
/* 4. Banner */
.banner{overflow: hidden;}
.banner:hover img{transform: scale(1.05)}
.banner-trend {
	position: absolute;
	bottom: 45px;
	left: 45px;
	right: 45px;
	background: #fff;
	padding: 45px;
}
.banner-trend span {
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 500;
	color: #84b77c;
	display: block;
	margin-bottom: 10px;
}
.banner-trend h2 {
	font-size: 30px;
}
.banner-trend h2 a:hover {
	color: #fe906e;
}
.discover-link a {
	color: #fe906e;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 2px;
}
.discover-link a:hover {
	color: #84b77c;
}
.discover-link {
	position: absolute;
	right: 45px;
	top: 50%;
	transform: translateY(-50%);
}
.banner-look {
	position: absolute;
	top: 40px;
	right: 40px;
	background: #fff;
	padding: 40px;
	border-top: 3px solid #84b77c;
	width: 410px;
}
.banner-look span {
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 500;
	color: #84b77c;
	display: block;
	margin-bottom: 10px;
}
.banner-look h2 {
	font-size: 40px;
	margin-bottom: 15px;
}
.banner-look img {
	display: block;
	margin-bottom: 15px;
}
.banner-look p {
	margin-bottom: 20px;
}

/* 5. Features */
.width-20 {
	width: 20%;
	float: left;
	padding: 0 15px;
}
.single-seatures i {
	height: 200px;
	width: 200px;
	background: #fff;
	color: #fe906e;
	display: inline-block;
	text-align: center;
	font-size: 65px;
	border-radius: 50%;
	line-height: 204px;
}
.single-seatures h3 {
	font-size: 26px;
	margin: 0;
}
.single-seatures span {
	display: block;
	font-weight: 500;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #747691;
	margin-bottom: 20px;
	margin-top: 35px;
}
.service-bg {
	background-repeat: no-repeat;
	background-position: center center;
}
/* 6. Product */
.box-90{
	padding-left: 90px;
	padding-right: 90px;
}
.box-105{
	padding-left: 105px;
	padding-right: 105px;
}
.product-wrapper {
	overflow: hidden;
}
.product-img {
	position: relative;
	overflow: hidden;
}
.product-img > a{}
.product-img img {
	width: 100%;
}
img.secondary-img {
	position: absolute;
	left: 0;
	top: 0;
	transition: .3s;
	opacity: 0;
}
.product-wrapper:hover img.secondary-img{opacity: 1;z-index: 1;}
/* roduct-action */
.product-action {
	position: absolute;
	bottom: 40px;
	transition: .3s;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
	left: 0;
	right: 0;
}
.product-wrapper:hover .product-action {
	opacity: 1;
	visibility: visible;
}
.product-action a {
	background: #fff;
	height: 50px;
	width: 50px;
	font-size: 20px;
	display: inline-block;
	color: #8688a6;
	text-align: center;
	line-height: 51px;
	border-radius: 50%;
	margin: 0 6px;
	box-shadow: 0px 12px 24px 0px rgba(186, 186, 186, 0.3);
}
.product-wrapper:hover .product-action a{
	margin: 0 7px;
}
.product-action a:last-child{margin-bottom: 0;}
.product-action a:hover{
	background: #fe906e;
	color: #fff;
}
.sale-tag {
	position: absolute;
	top: 30px;
	left: 30px;
	z-index: 99;
}
.sale-tag span {
	background: #84b77c;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	padding: 7px 15px;
	font-size: 12px;
	position: relative;
	padding-left: 19px;
	z-index: 99;
	display: block;
	margin-bottom: 7px;
	letter-spacing: 2px;
}
.sale-tag span.sale {
	background: #fe906e;
}
/* product-content */
.product-content {
	position: relative;
	padding-right: 50px;
}
.pro-cat a {
	font-size: 14px;
	color: #fe906e;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.pro-cat a:hover {
	color: #84b77c;
}
.product-content h4 {
	font-size: 20px;
	margin-bottom: 15px;
}
.product-content h4 a:hover {
	color: #fe906e;
}
.pro-price span {
	font-weight: 500;
	font-size: 14px;
	color: #747691;
	margin-right: 25px;
}
.pro-price span.old-price {
	color: #bcbdce;
	text-decoration: line-through;
}
.product-wishlist {
	position: absolute;
	right: 0;
	top: 20px;
}
.product-wishlist a {
	background: #f3f4ff;
	height: 40px;
	width: 40px;
	display: inline-block;
	text-align: center;
	line-height: 41px;
	border-radius: 50%;
	color: #9798ad;
	font-size: 14px;
}
.product-wishlist a:hover {
	background: #fe906e;
	color: #fff;
}
/* product-nav */
.product-nav{}
.product-nav li {
	margin-left: 20px;
}
.product-nav li:last-child{padding-right: 0;}
.product-nav li:first-child{padding-left: 0;}
.product-nav li a {
	font-size: 14px;
	color: #10111e;
	font-weight: 500;
	padding: 18px 30px;
	border: 2px solid #ecedff;
	text-transform: uppercase;
	line-height: 1;
	letter-spacing: 2px;
}
.product-nav li a.active {
	color: #fff;
	background: #fe906e;
	border-color: #fe906e;
}
.product-slider.owl-carousel .owl-nav div,.product-slider-2.owl-carousel .owl-nav div {
	position: absolute;
	top: 50%;
	left: -70px;
	transform: translateY(-50%);
	background: none;
	border: 0;
	font-size: 13px;
	padding: 0;
	color: #10111e;
	z-index: 2;
	opacity: 1;
	visibility: visible;
	height: 100px;
	width: 30px;
	border-radius: 0;
	cursor: pointer;
	background: #fff1f0;
	line-height: 100px;
}
.product-slider.owl-carousel .owl-nav div.owl-next,.product-slider-2.owl-carousel .owl-nav div.owl-next{left: auto;right:-70px;}
.product-slider:hover .owl-nav div,.product-slider-2:hover .owl-nav div{
    opacity: 1;
    visibility: visible;
}
.product-slider .owl-nav div:hover,.product-slider-2 .owl-nav div:hover{
    background: #fe906e;
	color: #fff;
	box-shadow: 0px 6px 12px 0px rgba(254, 69, 54, 0.4);
}

/* top seller */
.top-seller {
	position: relative;
}
.top-seller-content {
	background: #fff;
	display: inline-block;
	padding: 45px;
	margin-top: -80px;
	padding-bottom: 0;
}
.top-seller-content h2 {
	font-size: 40px;
	margin-bottom: 15px;
}
.top-seller-content h2 a:hover  {
	color: #fe906e;
}
.sellet-2-content {
	display: inline-block;
	width: 450px;
	position: absolute;
	left: 0;
	background: #fff;
	padding: 45px;
	text-align: left;
	top: 35px;
}
.sellet-2-content h2 {
	font-size: 80px;
}
.sellet-2-content h2 a:hover {
	color: #fe906e;
}
.shop-btn {
	background: #fe906e;
	height: 60px;
	width: 60px;
	font-size: 22px;
	display: inline-block;
	color: #fff;
	text-align: center;
	line-height: 56px;
	border-radius: 50%;
	margin: 0 7px;
	box-shadow: 0px 12px 24px 0px rgba(186, 186, 186, 0.3);
}
.shop-btn:hover{background: #84b77c;color: #fff}
.top-seller-btn a {
	display: inline-block;
	margin-right: 20px;
}

/* 7. Area title */
.area-title h2 {
	font-size: 40px;
	margin-bottom: 10px;
}
.area-title.white-color h2 {
	color: #fff;
}
.area-title p {
	margin: 0;
}
.area-title .white-color p {
	color: #aaabc3;
}

/* 8. Upcoming Product */
.upc-price {
	color: #fe906e;
	font-weight: 500;
	letter-spacing: 2px;
	font-size: 16px;
	margin-bottom: 20px;
}
.upcoming-product h1 {
	font-size: 80px;
	margin-bottom: 35px;
}
.upcoming-product h1 a:hover {
	color: #84B77C;
}
.upc-pro-info li {
	float: left;
	margin-right: 40px;
	margin-bottom: 30px;
}
.upc-pro-info li i {
	font-size: 40px;
	line-height: 1;
	margin-right: 20px;
	color: #84B77C;
}
.upc-info h4 {
	font-size: 20px;
	margin-bottom: 12px;
}
.upc-info span {
	color: #747691;
}
.upcoming-product p {
	margin-bottom: 30px;
}
.upc-btn a {
	margin-right: 20px;
}
.cdown {
	display: inline-block;
	height: 110px;
	width: 110px;
	border-radius: 50%;
	line-height: 110px;
	text-align: center;
	font-weight: 500;
	padding: 28px 0;
	background: #fff;
	margin-right: 15px;
	box-shadow: 0px 16px 32px 0px rgba(224, 226, 255, 0.3);
}
@media (max-width: 767px) {
.cdown {
	margin-right: 10px;
	margin-bottom: 10px; } }
@media only screen and (min-width: 992px) and (max-width: 1200px) {
.cdown {
	height: 90px;
	width: 90px;
	padding: 18px 0; } }

.cdown span {
	font-size: 30px;
	color: #10111e;
	line-height: 1;
	display: block;
	margin-bottom: 10px;
}

.cdown p {
	font-size: 12px;
	color: #747691;
	line-height: 1;
	margin: 0;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;
}

.bakix-map {
  position: relative; }

.bakix-marker {
  position: absolute; }

.map-c1 {
	top: 40%;
	left: 7%;
}
.map-c2 {
	bottom: 26%;
	left: 34%;
}
.map-c3 {
	top: 32%;
	left: 25%;
}

/* style 2 */
.map-c11 {
	top: 40%;
	left: 22%;
}
.map-c33 {
	top: 51%;
	left: 38%;
}
.map-c22 {
	bottom: 7%;
	left: 29%;
}


.bakix-map-icon {
	background: #84b77c;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	cursor: pointer;
	text-align: center;
	line-height: 34px;
	color: #fff;
}
.bakix-map-address {
	background: #fff;
	padding: 12px;
	margin-top: 10px;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
	position: absolute;
	z-index: 9;
	width: 200px;
	top: 100%;
}
.bakix-map-address p {
	color: #747691;
	margin: 0;
}

.bakix-marker:hover .bakix-map-address {
  opacity: 1;
  visibility: visible;
}

/* 9. Subscribe   */
.subscribe-inner{
	padding-left: 270px;
	padding-right: 270px;
}
.subscribe-icon {
	margin-right: 24px;
	margin-top: 8px;
}
.subscribe-form {
  position: relative;
  z-index: 99; }

.subscribe-form form {
  position: relative; }
.subscribe-form form input {
	width: 100%;
	height: 70px;
	border: 0;
	padding: 0 50px;
	text-transform: uppercase;
	font-weight: 500;
	background: #141626;
	font-size: 12px;
	color: #aaabc3;
}
    @media (max-width: 767px) {
      .subscribe-form form input {
        padding: 0 30px; } }
.subscribe-form form button {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
}
    @media (max-width: 767px) {
      .subscribe-form form button {
        position: static;
        margin-top: 10px; } }

.subscribe-form input::-moz-placeholder {
  color: #aaabc3; font-size: 12px;
  letter-spacing: 2px;
}
.subscribe-form input::placeholder {
  color: #aaabc3; font-size: 12px;
  letter-spacing: 2px;
}


/* 10. Footer */
.footer-logo {
	margin-bottom: 38px;
}
.footer-widget h3 {
	font-size: 20px;
	margin-bottom: 40px;
	line-height: 1;
	text-transform: capitalize;
}
.footer-widget p {
	color: #747691;
}
.time-icon {
	margin-right: 15px;
	margin-top: 5px;
}
.time-text span {
	color: #747691;
	margin-bottom: 5px;
	display: block;
}
.time-text h2 {
	font-weight: 300;
	font-size: 30px;
	margin: 0;
}
.footer-icon a {
	color: #b9bad4;
	margin-left: 20px;
	font-size: 16px;
}
.footer-icon a:hover {
	color: #fe906e;
}
.footer-link li {
	margin-bottom: 15px;
}
.footer-link li:last-child {
	margin-bottom: 0;
}
.footer-link li a {
	color: #747691;
	font-size: 14px;
}
.footer-link li a:hover {
	color: #fe906e;
}
.contact-list li i {
	color: #717171;
	width: 29px;
	float: left;
	position: relative;
	top: 7px;
}
.contact-list li p {
	color: #878787;
	overflow: hidden;
	font-size: 14px;
	display: block;
	margin: 0;
}
.contact-list li {
	margin-bottom: 10px;
}
.copyright-border {
	border-top: 1px solid #d1d2dd;
}
.copyright p {
	margin-bottom: 0;
	color: #747691;
}
.copyright p a {
	color: #fe906e;
}
.copyright p a:hover {
	color: #84b77c;
}
.subscribe-footer {
	position: relative;
}
.subscribe-footer input {
	height: 50px;
	background: no-repeat;
	border: 1px solid #444;
	padding: 15px;
	width: 100%;
	color: #fff;
}
.subscribe-footer button {
	background: none;
	border: 0;
	top: 0;
	right: 0;
	position: absolute;
	color: #888;
	height: 100%;
	line-height: 1;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	padding: 0 15px;
}
.instagram-list {
	margin: 0 -2px;
}
.instagram-list li {
	float: left;
	padding: 0 2px;
	width: 33.33%;
	margin-bottom: 6px;
}


/* Menu Search
-------------------------------------------------------*/
.nav-search {
  position: relative;
  display: block;
  color: inherit;
  font-size: 20px;
}

.nav-search:hover {
  color: inherit;
}

.search-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 121;
  background: rgba(0,0,0,.9);
}

.search-wrap .search-inner {
  position: relative;
  width: 100%;
  height: 100%;
}
.search-wrap .search-cell {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
}

.search-wrap .search-field-holder {
  width: 50%;
  margin: auto;
  position: relative;
  animation: slideInUp .3s;
}

.search-wrap .main-search-input {
	width: 100%;
	height: 70px;
	border: 0;
	padding: 0 50px;
	text-transform: uppercase;
	background: transparent;
	font-size: 25px;
	color: #fff;
	border-bottom: 2px solid #898989;
	text-align: center;
	letter-spacing: 2px;
}

.search-wrap input.form-control,
.search-wrap input.form-control:focus {
  background-color: #fff;
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

input.main-search-input::-webkit-input-placeholder {
  color: #fff;
  font-size: 25px;
}

input.main-search-input:-moz-placeholder {
  color: #fff;
  opacity: 1;
  font-size: 25px;
}

input.main-search-input::-moz-placeholder {
  color: #fff;
  opacity: 1;
  font-size: 25px;
}

input.main-search-input:-ms-input-placeholder {
  color: #fff;
  font-size: 25px;
}

.search-close {
	position: absolute;
	top: 50px;
	right: 50px;
	font-size: 30px;
	color: #fff;
	cursor: pointer;
}

.mobile-links li > a {
  padding: 15px 0 15px 15px;
  line-height: 20px;
  border-bottom: 1px solid #ebebeb;
  color: #7f7f7f;
  display: block;
}

.mobile-links li > a:hover {
  color: #b79d82;
}

/* 11. Instagram */
.instagram-btn {
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	z-index: 99999;
}
.instagram-btn a i{
	color: #fe906e;
	transition: .3s;
}
.instagram-btn a:hover i{
	color: #fff;
}

/* 12. Breadcrumb */
.breadcrumb-area {
	background-position: center center;
	background-size: cover;
	padding: 120px 0;
}
.breadcrumb-text {
    position: relative;
    z-index: 1;
}
.breadcrumb-text > h1 {
	font-size: 60px;
	margin-bottom: 30px;
}
.breadcrumb-text p {
	font-size: 26px;
	color: #637595;
	margin-bottom: 50px;
}
.breadcrumb-menu {
	display: inline-block;
	border-radius: 0;
	padding: 24px 42px;
	background: #ffffff;
	line-height: 1;
}
.breadcrumb-menu li {
	display: inline-block;
	position: relative;
	padding: 0 13px;
}
.breadcrumb-menu li a {
	color: #525470;
	font-size: 14PX;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
	letter-spacing: 2px;
	font-weight: 500;
}
.breadcrumb-menu li::before {
	background: #c4c5d5;
	display: inline-block;
	left: -4px;
	padding-bottom: 0;
	position: absolute;
	top: -2px;
	height: 17px;
	width: 2px;
	content: "";
}
.breadcrumb-menu li:first-child::before {
    display: none;
}
.breadcrumb-menu span {
	color: #abadc5;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
	letter-spacing: 2px;
}

.basic-pagination ul {
	display: block;
}
.basic-pagination ul li {
	display: inline-block;
	margin: 0 5px;
}
@media (max-width: 767px) {
	.basic-pagination ul li {
		margin-bottom: 10px;
	}
}
.basic-pagination ul li a {
	height: 70px;
	width: 70px;
	background: #ffffff;
	color: #9990b8;
	font-size: 16px;
	font-weight: 500;
	border-radius: 50%;
	line-height: 70px;
	margin: 0px;
	display: inline-block;
	text-align: center;
}
.basic-pagination ul li a:hover ,.basic-pagination ul li.active a {
	background: #fe906e;
	color: #ffffff;
	box-shadow: 0px 8px 16px 0px rgba(254, 69, 54, 0.3);
}
.basic-pagination-2 ul li{
}
.basic-pagination-2 ul li a {
	background: transparent;
	color: #9990b8;
	border: 2px solid #eaebec;
	height: 60px;
	width: 60px;
	line-height: 56px;
}
.basic-pagination-2 ul li a:hover,.basic-pagination-2 ul li.active a {
	background: #fe906e;
	color: #ffffff;
	border-color: #fe906e;
	box-shadow: 0px 8px 16px 0px rgba(254, 69, 54, 0.3);

}


/* 13. Shop */
.product-showing p {
	margin: 0;
	border: 2px solid #f2f2f2;
	padding: 17px 30px;
	text-align: center;
	line-height: 1;
	display: inline-block;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
	font-weight: 500;
	color: #747691;
}
@media (max-width: 767px) {
	.product-showing p {
		padding: 17px 15px;
	}
}
.pro-filter {
	position: relative;
	display: inline-block;
}
@media (max-width: 767px) {
	.pro-filter {
		float: left;
	}
}
.pro-filter select {
	border: 2px solid #f2f2f2;
	padding: 17px 30px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
	line-height: 1;
	color: #6f7172;
	appearance: none;
	-moz-appearance: none;
	width: 145px;
	font-weight: 500;
}
.pro-filter::before {
	content: "\f107";
	right: 15px;
	top: 15px;
	position: absolute;
	color: #758799;
	font-family: "Font Awesome 5 Free";
	font-weight: 700;
}
.shop-tab ul li {
	margin-left: 20px;
}
@media (max-width: 767px) {
	.shop-tab ul li {
		margin-left: 10px;
	}
}
.shop-tab ul li a {
	font-size: 16px;
	font-weight: 500;
	color: #fe906e;
	letter-spacing: 2px;
	padding: 0;
	text-transform: uppercase;
	position: relative;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background: #fff1f0;
	line-height: 50px;
	text-align: center;
}
.shop-tab ul li a.active {
	color: white;
	background: #fe906e;
	box-shadow: 0px 8px 16px 0px rgba(254, 69, 54, 0.3);
}

.pro-list-content .product-action {
	position: static;
	opacity: 1;
	visibility: visible;
}
.pro-list-content .product-action a {
	background: #84b77c;
	color: #fff;
	border-color: #84b77c;
}
.pro-list-content .product-action a:hover {
	background: #fe906e;
	color: #fff;
	border-color: #fe906e;
}
.pro-list-content p {
	margin-bottom: 22px;
}
.pro-list-content{}
.pro-list-content{}
/* shop widget */
.sidebar-box {
	padding: 35px 40px;
	border: 4px solid #f9f9f9;
}
.shop-widget {
	padding-bottom: 40px;
	margin-bottom: 40px;
	border-bottom: 2px dashed #ede8ff;
}
.shop-widget:last-child {
	padding-bottom: 0px;
	margin-bottom: 0px;
	border-bottom: 0;
}
.shop-title {
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.shop-search{position: relative;}
.shop-search input {
	width: 100%;
	height: 60px;
	border: 0;
	background: #f9f9f9;
	border-radius: 30px;
	padding: 0 30px;
}
.shop-search button {
	position: absolute;
	background: #fe906e;
	border: 0;
	color: #fff;
	height: 60px;
	width: 60px;
	right: 0;
	top: 0;
	border-radius: 50%;
	box-shadow: 0px 8px 16px 0px rgba(254, 69, 54, 0.3);
}
.shop-search button:hover{
	background: #84b77c;
}

.shop-link li {
	margin-bottom: 15px;
}
.shop-link li:last-child {
	margin-bottom: 0px;
}
.shop-link li a {
	color: #747691;
}
.shop-link li a i {
	color: #e7e7e7;
	margin-right: 10px;
	line-height: 1;
	transition: .3s;
}
.shop-link li a:hover i,.shop-link li a:hover  {
	color: #fe906e;
}

.price-filter label {
  display: inline-block;
  margin-right: 16px;
  position: relative;
  top: -23px;
}
.price-lebel {
  display: inline-block;
}
#slider-range{
  background: #ece8fe;
  border: 0 none;
  border-radius: 0;
  height: 5px;
}
#slider-range span.ui-state-default {
  background: #84b77c;
  border: 0 none;
  border-radius: 50%;
  height: 15px;
  width: 15px;
}
.ui-slider-horizontal .ui-slider-range {
	background: #84b77c;
}
#slider-range span.ui-state-default{}
.price-filter input {
  border: 0 none;
  color: #444444;
  margin-top: 20px;
}

.shop-tag li {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 6px;
}
.shop-tag li a {
	border: 1px solid #e7e7e7;
	padding: 5px 15px;
	display: inline-block;
	color: #747691;
	font-size: 14px;
}
.shop-tag li a:hover{
	background: #fe906e;
	color: #fff;
	border-color: #fe906e;
}
.shop-link li span {
	height: 16px;
	width: 16px;
	background: transparent;
	display: inline-block;
	border-radius: 50%;
	border: 4px solid #fff;
	box-shadow: 0px 1px 10px 0px rgba(254, 69, 54, 0.2);
	position: relative;
	top: 2px;
	margin-right: 10px;
}
.shop-link li span.blue {
	background: #0066ff;
}
.shop-link li span.green {
	background: #61a344;
}
.shop-link li span.orange {
	background: #ff9600;
}
.shop-link li span.navy {
	background: navy;
}
.shop-link li span.pinkish {
	background:#ff0090 ;
}
.shop-link li span.vista {
	background: #00fff6;
}
.side-pro-img {
	float: left;
}
.side-pro-img img {
	margin-right: 14px;
}
.side-pro-rating {
	margin-bottom: 5px;
}
.side-pro-rating i {
	color: #FFBA00;
	font-size: 12px;
}
.side-pro-content h5 {
	font-size: 14px;
	margin-bottom: 7px;
}
.side-pro-content h5 a:hover {
	color: #fe906e;
}
.side-pro-price span {
	font-weight: 500;
	font-size: 13px;
	color: #747691;
}
.side-pro-content {
	overflow: hidden;
}
.shop-sidebar-product li{
	overflow: hidden;
	margin-bottom: 20px;
}
.shop-sidebar-product li:last-child{
	margin-bottom: 0px;
}

/* shop widget filter */
.filter-widget {
	border: 4px solid #f9f9f9;
	padding: 30px;
	display: none;
	padding-bottom: 0;
}
.filter-widget .shop-widget {
	margin-bottom: 30px;
}
.pro-filter-btn button {
	background: #f9f9f9;
	border: 0;
	padding: 18px 50px;
	line-height: 1;
	border-radius: 30px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 2px;
	color: #747691;
}

/* 14. Shop Details */
.shop-tab ul li {
     margin-left: 20px;
}
.shop-tab ul li a {
     font-size: 16px;
     font-weight: 500;
     color: #6f7172;
     letter-spacing: 2px;
     padding: 0;
     text-transform: uppercase;
     position: relative;
     height: 50px;
     width: 50px;
     border-radius: 50%;
     background: #f6f6ff;
     line-height: 50px;
     text-align: center;
}
.product-large-img img {
	width: 100%;
}
.shop-thumb-tab ul {
	margin: 0 -5px;
}
.shop-thumb-tab ul li {
	margin-bottom: 20px;
	display: inline-block;
	width: 33.33%;
	padding: 0 5px;
}
 .shop-thumb-tab ul li a {
     padding: 0;
}
.product-details-img {
	margin-left: 0;
	overflow: hidden;
}

/* details info */
.details-cat a {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 2px;
	color: #747691;
}
.details-cat a:hover{
	color: #fe906e;
}
.details-price span {
	color: #fe906e;
	font-weight: 300;
	font-size: 40px;
	margin-right: 25px;
}
.details-price .old-price {
	color: #d9dbec;
	text-decoration: line-through;
}
.variant-name span {
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 2px;
}

.variant-name {
	display: inline-block;
	margin-right: 30px;
}
.shop-color{
	display: inline-block;
}
.shop-color li{
	display: inline-block;
	margin-bottom: 0;
}
.shop-size{
	display: inline-block;
}
.shop-size li{
	display: inline-block;
	margin-bottom: 0;
}
.shop-size li a {
	color: #747691;
	text-transform: uppercase;
	border: 2px solid transparent;
	line-height: 1;
	padding: 10px;
	padding-bottom: 8px;
	display: inline-block;
}
.shop-size li.active a {
	border: 2px solid #fe906e;
	color: #fe906e;
}
.variant-item {
	padding: 30px 0;
	border-top: 1px solid #ffe7e5;
}

.details-timer{
	display: inline-block;
}
.details-timer .cdown {
	height: 60px;
	width: 60px;
	border-radius: 0;
	line-height: 60px;
	padding: 11px 0;
	background: #fff1f0;
	margin-right: 10px;
	box-shadow: none;
}
.details-timer .cdown span {
	font-size: 18px;
	color: #fe906e;
	margin-bottom: 7px;
}
.details-timer .cdown p {
	color: #747691;
	font-weight: 400;
}
.product-coming .variant-name span{
	position: relative;
	top: -11px;
}
.product-desc p{
	margin-bottom: 0;
}
.product-info-list ul{

}
.product-info-list ul li{
	margin-bottom: 10px;
}
.product-info-list ul li span {
	font-weight: 500;
	color: #232b37;
	width: 120px;
	display: inline-block;
}
.product-info-list ul li span.in-stock {
	font-weight: 400;
	color: #fe906e;
}
.cart-plus-minus input {
	height: 50px;
	width: 160px;
	border: 0;
	text-align: center;
	-moz-appearance: none;
	appearance: none;
	background: #fff1f0;
	border-radius: 30px;
	font-weight: 500;
	color: #747691;
	font-size: 16px;
}
.cart-plus-minus {
	display: inline-block;
	position: relative;
	margin-right: 15px;
}
.cart-plus-minus .qtybutton {
	position: absolute;
	top: 5px;
	left: 5px;
	font-size: 20px;
	color: #c4bedd;
	cursor: pointer;
	line-height: 1;
	width: 40px;
	height: 40px;
	background: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 40px;
	font-weight: 500;
	border-radius: 50%;
	transition: .3s;
}
.cart-plus-minus .qtybutton:hover{
	background: #fe906e;
	color: #fff;
}
.cart-plus-minus .inc {
	left: auto;
	right: 5px;
}
.plus-minus {
	display: inline-block;
}
.details-action-icon {
	height: 50px;
	width: 50px;
	border: 0;
	background: #fff1f0;
	border-radius: 50px;
	margin-right: 13px;
	color: #fe906e;
	font-size: 15px;
	line-height: 50px;
}
.details-action-icon:hover {
	background: #fe906e;
	color: #fff;
}
/* review */
.pro-details-banner {
	margin-top: 84px;
}
.review-tab .nav-link {
	color: #333;
	font-size: 14px;
	font-weight: 500;
	padding: 20px 40px;
	color: #747691;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 1;
	border: 2px solid #ecedff
}
.review-tab .nav-item {
	margin-right: 30px;
	position: relative;
	margin-bottom: 25px;
}
.review-tab .nav-link.active {
  background: #fe906e;
  border-color: #fe906e;
  color: #fff;
}
.desc-text {
	padding: 40px;
	border: 4px solid #f9f9f9;
}
.pro-comments-img {
  float: left;
}
.pro-commnets-text {
	overflow: hidden;
	padding-left: 15px;
}
.pro-commnets-text h4 {
	font-size: 17px;
	margin-bottom: 0;
}
.pro-commnets-text span {
  font-size: 14px;
}
.pro-commnets-text .rating {
  margin-bottom: 20px;
}
.pro-commnets-text > p {
  margin: 0;
}
.product-commnets-list {
  border-bottom: 1px solid #e5e5e5;
}
.pro-rating i {
	font-size: 12px;
	color: #fe906e;
}
.pro-commnets-text .pro-rating {
	margin-bottom: 5px;
	margin-top: 8px;
}
.pro-commnets-text .pro-rating {
	margin-bottom: 5px;
	margin-top: 8px;
}
.product-commnets .product-commnets-list:last-child{border: 0}

.review-box > h4 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.rating-list {
  display: inline-block;
}
.your-rating > span {
  color: #414149;
  font-size: 16px;
}
.rating-list > a {
  color: #646464;
  font-size: 13px;
}
.rating-list > a:hover {
  color: #fe906e;
}
.review-form{}
.review-form label {
	display: block;
	font-size: 13px;
	margin-bottom: 15px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.review-form textarea {
	border: 2px solid #ecedff;
	height: 80px;
	margin-bottom: 25px;
	padding: 15px;
	width: 100%;
}
.review-form input {
  border: 2px solid #ecedff;
  height: 50px;
  margin-bottom: 30px;
  padding: 0 15px;
  width: 100%;
}
.review-form button{}

/* 15. Login */
.basic-login {
  padding: 90px;
  border: 2px solid #eaedff;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .basic-login {
    padding: 50px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .basic-login {
    padding: 40px;
  }
}

@media (max-width: 767px) {
  .basic-login {
    padding: 30px;
  }
}

.basic-login h3 {
  font-size: 30px;
}

.basic-login input {
  width: 100%;
  height: 60px;
  border: 2px solid #eaedff;
  color: #6f7172;
  padding: 0 20px;
  margin-bottom: 20px;
}

.basic-login label {
  color: #222;
  display: block;
}

.basic-login label span {
  color: #fe906e;
}

.login-action input {
  width: inherit;
  height: auto;
}

.login-action label {
  display: inline-block;
  margin-left: 5px;
}

.or-divide {
  border-top: 2px solid #eaedff;
  margin: 40px 0;
  text-align: center;
  position: relative;
}

.or-divide span {
  position: absolute;
  left: 0;
  right: 0;
  top: -9px;
  background: #ffffff;
  display: inline-block;
  width: 40px;
  margin: auto;
  line-height: 1;
  font-weight: 500;
}

@media (max-width: 767px) {
  .forgot-login {
    float: none;
  }
}

.forgot-login a {
  color: #fe906e;
}

.forgot-login a:hover {
  color: #84b77c;
}

@media (max-width: 767px) {
  .log-rem {
    float: none;
    margin-bottom: 10px;
    display: block;
  }
}

/* 16. Cart */
.table-content table {
  background: #ffffff;
  border-color: #eaedff;
  border-radius: 0;
  border-style: solid;
  border-width: 1px 0 0 1px;
  text-align: center;
  width: 100%;
  margin-bottom: 0;
}

.table-content table td.product-name {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
}

.table-content table td.product-name a:hover {
  color: #fe906e;
}

.table-content table td {
  border-top: medium none;
  padding: 20px 10px;
  vertical-align: middle;
  font-size: 16px;
}

.table-content table th, .table-content table td {
  border-bottom: 1px solid #eaedff;
  border-right: 1px solid #eaedff;
}

.product-quantity input {
	border: none;
	color: #6f7172;
	font-size: 14px;
	font-weight: normal;
	border: 0;
}

.table td, .table th {
	border-top: 1px solid #eaedff;
}

.product-quantity > input {
  width: 80px;
  border-radius: 3px;
}

.table-content table td.product-subtotal {
  font-size: 16px;
}

.table-content table td .cart-plus-minus {
  float: none;
  margin: 0 auto;
}

.coupon-all {
  margin-top: 50px;
}

.coupon {
  float: left;
}

@media (max-width: 767px) {
  .coupon {
    float: none;
  }
}
#coupon_code {
	height: 57px;
	border: 2px solid #eaedff;
	padding: 0 15px;
	margin-right: 10px;
}

@media (max-width: 767px) {
  #coupon_code {
    margin-bottom: 15px;
  }
}

.coupon2 {
  float: right;
}

@media (max-width: 767px) {
  .coupon2 {
    float: none;
    margin-top: 15px;
  }
}

.cart-page-total {
  padding-top: 50px;
}

.cart-page-total > h2 {
	font-size: 25px;
	margin-bottom: 20px;
	text-transform: capitalize;
}

.cart-page-total > ul {
  border: 1px solid #eaedff;
}

.cart-page-total > ul > li {
  list-style: none;
  font-size: 15px;
  color: #6f7172;
  padding: 10px 30px;
  border-bottom: 1px solid #eaedff;
  font-weight: 400;
}

.cart-page-total ul > li > span {
  float: right;
}

.cart-page-total li:last-child {
  border-bottom: 0;
}
td.product-thumbnail img {
	width: 125px;
}

/* 17. Checkout */
.coupon-accordion h3 {
	background-color: #fff1f0;
	border-top: 3px solid #fe906e;
	font-size: 14px;
	font-weight: 400;
	margin: 0 0 25px;
	padding: 1em 2em 1em 3.5em;
	position: relative;
	width: auto;
}

.coupon-accordion h3::before {
  content: "\f07b";
  left: 15px;
  top: 13px;
  position: absolute;
  color: #6f7172;
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
}

.coupon-accordion span {
  color: #6f7172;
  cursor: pointer;
  transition: .3s;
}

.coupon-accordion span:hover, p.lost-password a:hover {
  color: #fe906e;
}

.coupon-content {
  border: 1px solid #eaedff;
  display: none;
  margin-bottom: 20px;
  padding: 30px;
}

.coupon-info p.coupon-text {
  margin-bottom: 15px;
}

.coupon-info p {
  margin-bottom: 0;
}

.coupon-info p.form-row-first label, .coupon-info p.form-row-last label {
  display: block;
  color: #6f7172;
}

.coupon-info p.form-row-first label span.required, .coupon-info p.form-row-last label span.required {
  color: red;
  font-weight: 700;
}

.coupon-info p.form-row-first input, .coupon-info p.form-row-last input {
  border: 1px solid #eaedff;
  height: 45px;
  margin: 0 0 14px;
  max-width: 100%;
  padding: 0 0 0 10px;
  width: 100%;
}

.coupon-info p.form-row input[type="submit"]:hover, p.checkout-coupon input[type="submit"]:hover {
  background: #fe906e none repeat scroll 0 0;
}

.coupon-info p.form-row input[type="checkbox"] {
  position: relative;
  top: 2px;
}

.form-row > label {
  margin-top: 15px;
  margin-left: 15px;
  color: #6f7172;
}

.buttons-cart input, .coupon input[type="submit"], .buttons-cart a, .coupon-info p.form-row input[type="submit"] {
  background: #252525 none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  display: inline-block;
  float: left;
  font-size: 12px;
  font-weight: 700;
  height: 40px;
  line-height: 40px;
  margin-right: 15px;
  padding: 0 15px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}

p.lost-password {
  margin-top: 15px;
}

p.lost-password a {
  color: #6f6f6f;
}

p.checkout-coupon input[type="text"] {
  height: 45px;
  padding: 0 15px;
  width: 100%;
  border: 1px solid #eaedff;
  margin-bottom: 15px;
}

.coupon-checkout-content {
  display: none;
}

.checkbox-form h3 {
  border-bottom: 1px solid #eaedff;
  font-size: 26px;
  margin: 0 0 20px;
  padding-bottom: 10px;
  width: 100%;
}

.country-select {
  margin-bottom: 30px;
  position: relative;
}

.country-select label, .checkout-form-list label {
  color: #6f7172;
  display: block;
  margin: 0 0 5px;
}

.country-select label span.required, .checkout-form-list label span.required {
  color: red;
}

.country-select select {
  -moz-appearance: none;
  border: 1px solid #eaedff;
  height: 45px;
  padding-left: 10px;
  width: 100%;
  color: #6f7172;
}

.country-select::before {
  content: "\f107";
  right: 15px;
  top: 38px;
  position: absolute;
  color: #6f7172;
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
}

.checkout-form-list {
  margin-bottom: 30px;
}

.checkout-form-list label {
  color: #6f7172;
}

.checkout-form-list input[type="text"], .checkout-form-list input[type="password"], .checkout-form-list input[type="email"] {
  background: #ffffff;
  border: 1px solid #eaedff;
  border-radius: 0;
  height: 45px;
  padding: 0 0 0 10px;
  width: 100%;
}

.checkout-form-list input[type="text"]::-moz-placeholder,
.checkout-form-list input[type="password"]::-moz-placeholder,
.checkout-form-list input[type="email"]::-moz-placeholder {
  color: #6f7172;
  opacity: 1;
}

.checkout-form-list input[type="text"]::placeholder,
.checkout-form-list input[type="password"]::placeholder,
.checkout-form-list input[type="email"]::placeholder {
  color: #6f7172;
  opacity: 1;
}

.checkout-form-list input[type="checkbox"] {
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 1px;
}

.create-acc label {
  color: #6f7172;
  display: inline-block;
}

.create-account {
  display: none;
}

.ship-different-title h3 label {
  display: inline-block;
  margin-right: 20px;
  color: #6f7172;
}

.order-notes textarea {
  border: 1px solid #eaedff;
  height: 90px;
  padding: 15px;
  width: 100%;
}

.order-notes textarea::-moz-placeholder {
  color: #6f7172;
  opacity: 1;
}

.order-notes textarea::placeholder {
  color: #6f7172;
  opacity: 1;
}

#ship-box-info {
  display: none;
}

.panel-group .panel {
  border-radius: 0;
}

.panel-default > .panel-heading {
  border-radius: 0;
}

.your-order {
	padding: 30px 40px 45px;
	border: 3px solid #eaedff;
}

@media (max-width: 767px) {
  .your-order {
    padding: 15px;
  }
}

.your-order h3 {
  border-bottom: 1px solid #eaedff;
  font-size: 30px;
  margin: 0 0 20px;
  padding-bottom: 10px;
  width: 100%;
}

.your-order-table table {
  background: none;
  border: 0;
  width: 100%;
}

.your-order-table table th, .your-order-table table td {
  border-bottom: 1px solid #eaedff;
  border-right: medium none;
  color: #6f7172;
  font-size: 14px;
  padding: 15px 0;
  text-align: left;
}

@media (max-width: 767px) {
  .your-order-table table th, .your-order-table table td {
    padding-right: 10px;
  }
}

.your-order-table table th {
  border-top: medium none;
  color: #6f7172;
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
  width: 250px;
}

.panel-body > p {
  color: #222;
}

.your-order-table table .shipping ul li input {
  position: relative;
  top: 2px;
}

.your-order-table table .shipping ul li label {
  color: #6f7172;
}

.your-order-table table .shipping th {
  vertical-align: top;
}

.your-order-table table .order-total th {
  border-bottom: 0;
  font-size: 14px;
}

.your-order-table table .order-total td {
  border-bottom: medium none;
}

.your-order-table table tr.cart_item:hover {
  background: #F9F9F9;
}

.your-order-table table tr.order-total td span {
  color: #fe906e;
  font-size: 18px;
  font-weight: 500;
}

.payment-method {
  margin-top: 40px;
}

.panel-title > a {
  display: block;
}

.order-button-payment input {
  background: #232323 none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  height: 40px;
  margin: 0px 0 0;
  padding: 0;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  width: 100%;
}

.order-button-payment input:hover {
  background: #fe906e none repeat scroll 0 0;
}

.payment-method .btn-link {
  -moz-user-select: none;
  background: no-repeat;
  border: medium none;
  border-radius: 0;
  color: #444;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 0;
  padding: 3px 10px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
}

.payment-method .card {
  background-color: #ffffff;
  border: 1px solid #eaedff;
  border-radius: 0;
  margin-bottom: 10px;
}

.payment-method .accordion .card:first-of-type {
  border: 1px solid #eaedff;
}

.card-header:first-child {
  border-radius: 0;
}

.payment-method .card-header {
  background-color: #ffffff;
  border-bottom: 1px solid #eaedff;
}

.order-button-payment button {
  width: 100%;
}

/* 18. Contact */
.contact {
	border: 1px solid #eaedff;
	padding: 40px 10px;
}
.contact-area {
  background-position: center center;
  background-repeat: no-repeat;
}

.contact i {
	background: #84b77c;
	font-size: 40px;
	height: 150px;
	width: 150px;
	color: #ffffff;
	border-radius: 50%;
	line-height: 135px;
	border: 10px solid #fff;
	box-shadow: 0px 16px 32px 0px rgba(206, 226, 255, 0.4);
	margin-bottom: 30px;
}
.contact h3 {
	font-size: 26px;
	margin-bottom: 15px;
}

.contact p {
  margin: 0;
  padding: 0 50px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .contact p {
    padding: 0 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contact p {
    padding: 0 0px;
  }
}

.contact-form input {
  background: #ffffff;
  height: 80px;
  width: 100%;
  padding: 0 80px;
  padding-right: 30px;
  border: 0;
  color: #aab5ca;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.contact-form textarea {
  color: #aab5ca;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  height: 300px;
  width: 100%;
  padding: 30px 80px;
  border: 0;
}

.form-box::before {
	position: absolute;
	content: "\f0e0";
	font-family: "Font Awesome 5 Free";
	font-weight: 700;
	display: inline-block;
	font-size: 14px;
	text-align: center;
	left: 45px;
	color: #756563;
	top: 29px;
	z-index: 99;
}

.user-icon::before {
  content: "\f007";
}

.email-icon::before {
  content: "\f0e0";
}

.phone-icon::before {
  content: "\f095";
}

.subject-icon::before {
  content: "\f0a6";
}

.contact-form input::-moz-placeholder, .contact-form input::placeholder {
  color: #aab5ca;
}

.contact-form textarea::-moz-placeholder, .contact-form textarea::placeholder {
  color: #aab5ca;
}

.contact-map {
  height: 670px;
  width: 100%;
}

/* 19. About */
.about-community p {
  font-size: 24px;
  line-height: 28px;
}

.about-community-text {
  padding-left: 60px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .about-community-text {
    padding: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-community-text {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .about-community-text {
    padding: 0;
  }
}

.about-community-text p {
  font-size: 24px;
  line-height: 28px;
}

.overview {
	padding: 115px;
	margin-bottom: -100px;
	position: relative;
	z-index: 9;
	background-size: cover;
	background: #fff1f0;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .overview {
    margin-bottom: 0;
    margin-bottom: 120px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .overview {
    margin-bottom: 0;
    margin-bottom: 120px;
    padding: 50px;
  }
}

@media (max-width: 767px) {
  .overview {
    margin-bottom: 0;
    margin-bottom: 120px;
    padding: 30px;
  }
}

.overview p {
	margin: 0;
	font-size: 40px;
	line-height: 1.4;
	font-weight: 300;
	color: #10111e;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .overview p {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .overview p {
    font-size: 25px;
  }
}
.bakix-video {
	position: relative;
}
.bakix-video a {
	position: absolute;
	background: #ffffff;
	height: 120px;
	width: 120px;
	top: 50%;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	border-radius: 50%;
	line-height: 120px;
	color: #fe5245;
	transform: translateY(-50%);
}
.bakix-video a:hover {
	background: #fe5245;
	color: #ffffff;
}

.mission-img img {
	width: 100%;
}
.mission-text {
	padding-left: 50px;
}
.mission-title h1 {
	font-size: 60px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .mission-img img {
    margin-left: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mission-img img {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .mission-img img {
    margin-left: 0;
    width: 100%;
  }
}


@media (max-width: 767px) {
  .mission-text .section-title h1 {
    font-size: 40px;
  }
}

.mission-text p {
  font-size: 24px;
  line-height: 28px;
}

.testimonial-active {
  padding: 120px;
  border-radius: 20px;
  margin-top: -100px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .testimonial-active {
    padding: 50px;
  }
}

@media (max-width: 767px) {
  .testimonial-active {
    padding: 30px;
    margin-top: -50px;
  }
}

.testimonial-item p {
  font-size: 40px;
  line-height: 1.4;
  font-weight: 300;
  color: #ffffff;
}

@media (max-width: 767px) {
  .testimonial-item p {
    font-size: 20px;
  }
}

.testimonial-item span {
  font-weight: 600;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

@media (max-width: 767px) {
  .testimonial-item span {
    font-size: 20px;
  }
}

/* 20. Team */
.team {
  position: relative;
}

.team__img img {
  width: 100%;
}

.team__content {
  position: absolute;
  bottom: 50px;
  left: 35px;
  right: 35px;
  padding: 30px 20px;
  box-shadow: 1.389px 7.878px 16px 0px rgba(97, 97, 97, 0.2);
  transition: .3s;
}

.team__content:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 10px 0 10px;
  border-color: #ffffff transparent transparent transparent;
  position: absolute;
  content: "";
  bottom: -12px;
  left: 0;
  right: 0;
  margin: auto;
}

.team__content h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.team__content span {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  color: #60597a;
}

.team:hover .team__content {
  transform: translateY(-10px);
}


/* 21. Blog */
.latest-news {
  position: relative; }

.news__thumb img {
  width: 100%; }
.postbox__thumb img {
	width: 100%;
}
.blog-inner-img img{
	width: 100%;
}
.news-meta span {
	font-weight: 500;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #747691;
	margin-right: 15px;
	font-size: 13px;
}
.news-meta span a {
	color: #747691;
}
.news-meta span a:hover {
	color: #fe906e;
}
.news__caption h2 {
	font-size: 24px;
	margin-bottom: 15px;
	line-height: 1.4;
}
      .news__caption h2 a:hover {
		color: #fe906e;
	}

.news-link {
  font-size: 12px;
  color: #e4ecf3;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px; }
  .news-link:hover {
    color: #ffffff; }

.news-link i {
  transition: .3s;
  display: inline-block; }

.news-link:hover i {
  transform: translateX(3px); }

.news__thumb-2 img {
  width: 100%;
}

.news__caption-2 {
  padding: 33px;
}

.news__caption-2 h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.news__caption-2 h2 a:hover {
  color: #fe906e;
}

.news__caption-2 p {
  margin-bottom: 0;
}

.news-meta span {
  text-transform: uppercase;
  margin-right: 25px;
  font-size: 13px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .news-meta span {
    margin-right: 10px;
  }
}

.news-meta span a {
  color: #fe906e;
  letter-spacing: 2px;
  font-weight: 500;
}

.news-meta span a:hover {
  color: #6100b3;
}

.postbox__thumb {
  position: relative;
}

.postbox__thumb a img {
  max-width: 100%;
}

.post-meta span {
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
  color: #6f7172;
  margin-right: 20px;
}

@media (max-width: 767px) {
  .post-meta span {
    margin-right: 10px;
  }
}

.post-meta span a:hover {
  color: #84b77c;
}

.post-meta span i {
	color: #84b77c;
	margin-right: 2px;
}

.postbox__text {
  background: #faf9ff;
}

.p-50 {
  padding: 50px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .p-50 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .p-50 {
    padding: 30px;
  }
}

.p-30 {
  padding: 30px;
}

.post-meta {
	margin-bottom: 20px;
}

.blog-title {
	font-size: 28px;
	line-height: 1.3;
	margin-bottom: 20px;
}

.blog-title a:hover {
  color: #fe906e;
}

.read-more {
  letter-spacing: 2px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
}

.read-more:hover {
  color: #fe906e;
}

.read-more i {
  transition: .3s;
  display: inline-block;
}

.read-more:hover i {
  transform: translateX(5px);
}

.blog-title-sm {
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.postbox__gallery .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  border: none;
  background: none;
  padding: 0;
  z-index: 9;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  background: #ffffff;
  width: 60px;
  height: 60px;
  color: #6f7172;
  border-radius: 50%;
  font-size: 14px;
}

.postbox__gallery .slick-arrow:hover {
  background: #fe906e;
  color: #ffffff;
}

.postbox__gallery .slick-arrow.slick-next {
  right: 30px;
  left: auto;
}

.postbox__video {
  position: relative;
}

.video-btn {
  position: absolute;
  background: #ffffff;
  height: 120px;
  width: 120px;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  border-radius: 50%;
  line-height: 120px;
  color: #fe906e;
  transform: translateY(-50%);
}

.video-btn:hover {
  background: #fe906e;
  color: #ffffff;
}

.post-text blockquote {
  background: #062a4d;
  padding: 50px;
  position: relative;
  padding-left: 120px;
}

@media (max-width: 767px) {
  .post-text blockquote {
    padding: 30px;
  }
}
.post-text blockquote p {
	font-size: 26px;
	margin-bottom: 20px;
	color: #ffffff;
	font-weight: 500;
	line-height: 1.3;
}

.post-text blockquote::before {
  content: "\f10d";
  left: 50px;
  top: 50px;
  position: absolute;
  color: #758799;
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 41px;
}

@media (max-width: 767px) {
  .post-text blockquote::before {
    position: static;
  }
}

.post-text blockquote footer {
  font-size: 14px;
  letter-spacing: 2px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
}

.widget {
  border: 2px solid #eaedff;
  padding: 30px;
}

.b-0 {
  border: 0;
}

.search-form {
  position: relative;
}
.search-form input {
	width: 100%;
	height: 60px;
	border: 0;
	background: #f5f5f5;
	padding: 0 20px;
}

.search-form button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: #062a4d;
  padding: 0 25px;
  color: #ffffff;
  line-height: 60px;
  border: 0;
}

.search-form button:hover {
  background: #fe906e;
}

.widget-title {
  font-size: 21px;
  margin-bottom: 0px;
  position: relative;
  display: inline-block;
}

.animate-border::after {
  position: absolute;
  content: "";
  width: 35px;
  height: 3px;
  left: 0;
  bottom: 0;
  border-left: 10px solid #ffffff;
  border-right: 10px solid #ffffff;
  -webkit-animation: animborder 2s linear infinite;
  animation: animborder 2s linear infinite;
}

.animate-border.border-white::after {
  border-color: #ffffff;
}

.animate-border.border-white::after {
  border-color: #ffffff;
}

.about-me img {
  margin-bottom: 25px;
}

.about-me h4 {
  font-size: 18px;
  letter-spacing: 1px;
}

.widget-social-icon a {
  display: inline-block;
  margin: 0 8px;
}

.widget-social-icon a:hover {
  color: #fe906e;
}

.widget .recent-posts > li:first-child {
  border: 0;
  padding-top: 0;
}

.widget .recent-posts li:last-child {
  padding-bottom: 0;
}

.widget .recent-posts > li {
  border-top: 1px solid #eaedff;
  padding: 20px 0;
  overflow: hidden;
}

.widget-posts-image {
  float: left;
}

.widget-posts-image img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 15px;
}

.widget-posts-body {
  overflow: hidden;
}

.widget-posts-title {
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 1.3;
}

.widget-posts-title a:hover {
  color: #fe906e;
}

.widget-posts-meta {
  font-size: 12px;
}

ul.cat li {
  border-top: 1px solid #eaedff;
  padding: 15px 0;
  overflow: hidden;
}

ul.cat li:first-child {
  border-top: 0;
  padding-top: 0;
}

ul.cat li:last-child {
  padding-bottom: 0;
}

ul.cat li a {
  display: block;
}

ul.cat li a:hover {
  color: #fe906e;
}

.social-profile a {
  height: 50px;
  width: 50px;
  text-align: center;
  background: #062a4d;
  line-height: 50px;
  margin-right: 2px;
  display: inline-block;
  color: #ffffff;
  margin-bottom: 5px;
}

.social-profile a:hover {
  background: #fe906e;
}

#Instafeed {
  margin: 0 -5px;
  overflow: hidden;
}

#Instafeed li {
  width: 33.33%;
  float: left;
  padding: 0 5px;
  margin-bottom: 10px;
}

#Instafeed li img {
  width: 100%;
}

.tag a {
	display: inline-block;
	line-height: 1;
	padding: 10px 15px;
	background: #f5f5f5;
	margin-bottom: 8px;
	margin-right: 5px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	color: #5f5b5b;
}

.tag a:hover {
  background: #fe906e;
  color: #ffffff;
}

.bg-none {
  background: none;
}

.blog-post-tag span {
  font-size: 18px;
  font-weight: 600;
  display: block;
  margin-bottom: 17px;
  font-family: "Poppins", sans-serif;
  color: #062a4d;
}

.blog-post-tag a {
  color: #646974;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  border: 2px solid #eaedff;
  padding: 12px 24px;
  margin-right: 10px;
  transition: .3s;
  border-radius: 5px;
  margin-bottom: 10px;
}

.blog-post-tag a:hover {
  color: #fff;
  background: #fe906e;
  border-color: #fe906e;
}

.blog-post-tag a:last-child {
  margin-right: 0;
}

.blog-share-icon span {
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #062a4d;
  display: block;
  margin-bottom: 17px;
}

.blog-share-icon a {
  color: #6f7172;
  font-size: 18px;
  transition: .3s;
  margin-right: 22px;
}

.blog-share-icon a:hover {
  color: #fe906e;
}

.blog-share-icon a:last-child {
  margin-right: 0;
}

.blog-details-border {
  border-top: 1px solid #eaedff;
  border-bottom: 1px solid #eaedff;
  padding-top: 33px;
  padding-bottom: 23px;
  margin-bottom: 42px;
}
.author {
	background: #f5f5f5;
	padding: 0 60px 44px 60px;
}

@media (max-width: 767px) {
  .author {
    padding: 0 30px 44px 30px;
  }
}

.author-img {
  margin-bottom: 35px;
}

.author-img img {
  margin-top: -60px;
}
.author-text h3 {
	font-size: 24px;
	margin-bottom: 15px;
}
.author-text p {
	margin-bottom: 0;
	font-size: 15px;
	line-height: 28px;
}

.author-icon {
  margin-top: 6px;
  margin-bottom: 25px;
}

.author-icon a {
  font-size: 14px;
  color: #9498b6;
  margin: 0 5px;
  transition: .3s;
}

.author-icon a:hover {
  color: #fe906e;
}

.post-comments {
  border-bottom: 1px solid #eaedff;
  margin-bottom: 42px;
  padding-bottom: 46px;
}

.blog-coment-title h2 {
  font-size: 26px;
  margin-bottom: 0;
}

.comments-avatar {
  float: left;
}

@media (max-width: 767px) {
  .comments-avatar {
    float: none;
  }
}

.comments-avatar img {
  width: 100px;
  margin-right: 20px;
}

.latest-comments li:first-child .comments-box {
  border-top: 0;
  padding-top: 0;
}

.latest-comments li:last-child .comments-box {
  border-bottom: 0;
  padding-bottom: 0;
}

.latest-comments li.children {
  margin-left: 100px;
}

@media (max-width: 767px) {
  .latest-comments li.children {
    margin-left: 0;
  }
}

.comments-box {
  border-top: 1px solid #eaedff;
  padding: 30px 0;
}

.comments-text {
  overflow: hidden;
  padding-top: 4px;
}

@media (max-width: 767px) {
  .comments-text {
    margin-top: 15px;
  }
}

.comments-text p {
  margin-bottom: 0;
  margin-top: 8px;
}

.avatar-name h5 {
  font-size: 18px;
  margin-bottom: 7px;
}

.avatar-name span {
  color: #fe906e;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.avatar-name {
  margin-bottom: 3px;
  overflow: hidden;
  position: relative;
}

.reply {
  color: #6f7172;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  transition: .3s;
  line-height: 1;
  float: right;
  margin-top: 4px;
  position: absolute;
  right: 0;
  top: 0;
}

.reply:hover {
  color: #fe906e;
}

.reply i {
  margin-right: 5px;
}

.post-comments-title {
  margin-bottom: 39px;
}

.post-comments-title h2 {
	font-size: 26px;
	color: #140a20;
	margin-bottom: 0;
}

.conatct-post-form {
	background: #f5f5f5;
	padding: 50px;
}

@media (max-width: 767px) {
  .conatct-post-form {
    padding: 20px;
  }
}

.conatct-post-form input {
  border: none;
  height: 60px;
  margin-bottom: 20px;
  padding: 0 30px;
  width: 100%;
  font-size: 14px;
  color: #a7a7c1;
}

.conatct-post-form textarea {
  border: none;
  height: 150px;
  margin-bottom: 20px;
  padding: 30px;
  width: 100%;
  color: #a7a7c1;
  font-size: 14px;
}

#contacts-form input::-moz-placeholder {
  color: #a7a7c1;
  font-size: 14px;
}

#contacts-form input::placeholder {
  color: #a7a7c1;
  font-size: 14px;
}

#contacts-form textarea::-moz-placeholder {
  color: #a7a7c1;
  font-size: 14px;
}

#contacts-form textarea::placeholder {
  color: #a7a7c1;
  font-size: 14px;
}

.contact-icon {
  position: relative;
}

.contact-icon::after {
  position: absolute;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  right: 30px;
  color: #fe906e;
  top: 18px;
}

.contacts-message::after {
  content: "\f303";
}

.contacts-name::after {
  content: "\f007";
}

.contacts-email::after {
  content: "\f0e0";
}

.contacts-website::after {
  content: "\f0ac";
}
.navigation-border {
	border-top: 2px solid #f7f7f7;
	overflow: hidden;
}

.navigation-border {
  border-top: 2px solid #f7f7f7;
  overflow: hidden;
}

.bakix-navigation span {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
}

.bakix-navigation span a:hover {
  color: #fe906e;
}

.bakix-navigation h4 {
  font-size: 24px;
  margin: 0;
}

.bakix-navigation h4 a:hover {
  color: #fe906e;
}

/*--- preloader ---*/
.dark #preloader {
  background-color: #232323;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f7f7f7;
  z-index: 999999;
}

.preloader {
  width: 50px;
  height: 50px;
  display: inline-block;
  padding: 0px;
  text-align: left;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.preloader span {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #fe906e;
  -webkit-animation: preloader 1.3s linear infinite;
  animation: preloader 1.3s linear infinite;
}

.preloader span:last-child {
  animation-delay: -0.8s;
  -webkit-animation-delay: -0.8s;
}

@keyframes preloader {
  0% {
    transform: scale(0, 0);
    opacity: 0.5;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@-webkit-keyframes preloader {
  0% {
    -webkit-transform: scale(0, 0);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: scale(1, 1);
    opacity: 0;
  }
}

/*--- end of preloader ---*/
