
  .flags{
    background-color:none;
    display:table-header-group;
    margin-top:10vh;
    margin-bottom: 10px;
  }
  
  
  .languageFlag{
    flex-direction:column;
    transform: scale(0.7);
       position: absolute; 
      padding: 10px 10 10 20px;
    
  }.languageFlag img{
    width:40px;
    height:40px;
    border-radius:100%;
    margin:5px 0;
    transform: scale(1) !important;
    
  }.first{
    z-index:11;   
    display: block;
      height: 40px;
      margin-bottom: 5px;
  }
  .second{
    z-index:10;
    opacity:0;
    transform:translateY(-40px) ;
    transition-duration:300ms;
   
  }.languageFlag:hover .second{
    transform:translateY(0px);
    opacity:1
    
    
  }
  .third{
    z-index:10;
    opacity:0;
    transform:translateY(-40px) ;
    transition-duration:300ms;
   
  }.languageFlag:hover .third{
    transform:translateY(0px);
    opacity:1
    
    
  }

  .fourth{
    z-index:10;
    opacity:0;
    transform:translateY(-40px) ;
    transition-duration:300ms;
   
  }.languageFlag:hover .fourth{
    transform:translateY(0px);
    opacity:1
    
    
  }

  position: fixed;
top: 0px;
right: 0px;
display: block;
width: 40px;
height: auto;
z-index: 99;
